<nav class="navbar navbar-dark bg-primary">
	<div class="nav navbar-nav">
        <a class="nav-tem nav-link"
           [class.active]="aba == 'home'"
           (click)="aba = 'home'">Home</a>
        <a class="nav-tem nav-link"
           [class.active]="aba == 'mapa'"
           (click)="aba = 'mapa'">Mapa</a>
        <a class="nav-tem nav-link"
           (click)="aba = 'lista'"
           [class.active]="aba == 'lista'">Lista</a>
	</div>
</nav>

<!-- <ng-template [ngSwitch]="aba"]>
   <div class="container">
    
      <p ngswi>Modo Mapa Ativado</p>
      <p *ngSwitchCase="'lista'">Modo Lista Ativado</p>
      <p *ngSwitchDefault>Home</p>
      
  </div>
</ng-template> -->


<h3>Removendo o * e usando template</h3>

<div class="container" [ngSwitch]="aba">
    
   <ng-template [ngSwitchCase]="'mapa'" >
      <p>Modo Mapa Ativado</p>
   </ng-template>
   <ng-template [ngSwitchCase]="'lista'" >
      <p>Modo Lista Ativado</p>
   </ng-template>
   <ng-template [ngSwitchCase]="'home'" ngSwitchDefault >
      <p>Home</p>
   </ng-template>


   
</div>